<tr>
  <td>
    <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0" role="presentation">
      <tr>
        <td class="content-cell" align="center">
          <p class="f-fallback sub align-center">&copy; <%= Date.current.year %> <%= ENV['APP_NAME'] %></p>
        </td>
      </tr>
    </table>
  </td>
</tr>