<div class="flex flex-row justify-center w-full mt-5">
  <div class="relative w-3/4">
    <div class="absolute w-full">
      <table class="w-full">
        <tr>
          <td class="w-1/4 border-b-2 border-gray-300 h-36 relative">
            <div class="absolute h-24 left-0 top-12 w-[2px] bg-gray-300"></div>
            <div class="absolute h-24 right-0 top-12 w-[2px] bg-gray-300"></div>
          </td>
          <td class="w-1/4 border-b-2 border-gray-300 h-36 relative">
            <div class="absolute h-24 right-0 top-12 w-[2px] bg-gray-300"></div>
          </td>
          <td class="w-1/4 border-b-2 border-gray-300 h-36 relative">
            <div class="absolute h-24 right-0 top-12 w-[2px] bg-gray-300"></div>
          </td>
          <td class="w-1/4 border-b-2 border-gray-300 h-36 relative">
            <div class="absolute h-24 right-0 top-12 w-[2px] bg-gray-300"></div>
          </td>
        </tr>
      </table>
      <div class="flex w-full mt-2">
        <div class="w-1/4 text-xs text-gray-600 flex flex-col items-start">
          <div>0</div>
          <div>0%</div>
        </div>
        <div class="w-1/4 text-xs text-gray-600 flex flex-col items-start">
          <div>54</div>
          <div>25%</div>
        </div>
        <div class="w-1/4 text-xs text-gray-600 flex flex-col items-start">
          <div>108</div>
          <div>50%</div>
        </div>
        <div class="w-1/4 text-xs text-gray-600 flex flex-row justify-between">
          <div class="flex flex-col items-start">
            <div>162</div>
            <div>75%</div>
          </div>
          <div class="flex flex-col items-end">
            <div>216</div>
            <div>100%</div>
          </div>
        </div>
      </div>
    </div>

    <div class="relative pt-14 flex flex-row w-full z-10">
      <div class="w-4/12 bg-red-600 h-20 rounded-l-lg text-center flex items-center justify-center text-white">
        <div class="flex flex-col">
          <div class="text-2xl text-center">72</div>
          <div class="text-sm text-center">uren</div>
        </div>
      </div>
      <div class="w-1/12 bg-sky-600 h-20 flex items-center justify-center text-white">
        <div class="flex flex-col">
          <div class="text-2xl text-center">18</div>
          <div class="text-sm text-center">uren</div>
        </div>
      </div>
      <div class="w-7/12 bg-green-600 h-20 rounded-r-lg flex items-center justify-center text-white">
        <div class="flex flex-col">
          <div class="text-2xl text-center">126</div>
          <div class="text-sm text-center">uren</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-row justify-center w-full mt-20 mb-10">
  <div class="flex flex-row justify-center space-x-4 w-3/4">
    <div class="flex flex-row jsutify-start">
      <div class="bg-red-600 w-5 h-5 rounded-full mr-2"></div>
      <div class="text-sm">opgenomen</div>
    </div>
    <div class="flex flex-row jsutify-start">
      <div class="bg-sky-600 w-5 h-5 rounded-full mr-2"></div>
      <div class="text-sm">gepland</div>
    </div>
    <div class="flex flex-row jsutify-start">
      <div class="bg-green-600 w-5 h-5 rounded-full mr-2"></div>
      <div class="text-sm">beschikbaar</div>
    </div>
  </div>
</div>
</div>

<div class="flex flex-row justify-center w-full mt-5">
<div class="flex flex-row justify-center w-3/4">
  <table class="min-w-full divide-y divide-gray-200">
    <thead>
      <tr class="bg-gray-800 text-white text-sm">
        <th class="px-4 py-2 text-center" colspan="3">Opgenomen uren</th>
      </tr>
    </thead>
    <thead>
      <tr class="bg-gray-800 text-white text-sm">
        <th class="px-4 py-2 text-center">Datum</th>
        <th class="px-4 py-2 text-center">Uren</th>
        <th class="px-4 py-2 text-center">Totaal</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      <tr class="bg-gray-200">
        <td class="px-4 py-2 text-sm" colspan="3">Januari</td>
      </tr>
      <tr class="bg-gray-50">
        <td class="px-4 py-2 text-sm text-center">12-01-2025</td>
        <td class="px-4 py-2 text-sm text-center">8.0</td>
        <td class="px-4 py-2 text-sm text-center"></td>
      </tr>
      <tr class="bg-gray-50">
        <td class="px-4 py-2 text-sm text-center">31-01-2025</td>
        <td class="px-4 py-2 text-sm text-center">8.0</td>
        <td class="px-4 py-2 text-sm text-center"></td>
      </tr>
      <tr class="bg-gray-100">
        <td class="px-4 py-2 text-sm"></td>
        <td class="px-4 py-2 text-sm"></td>
        <td class="px-4 py-2 text-sm text-center">16.0</td>
      </tr>
      <tr class="bg-gray-200">
        <td class="px-4 py-2 text-sm" colspan="3">Februari</td>
      </tr>
      <tr class="bg-gray-50">
        <td class="px-4 py-2 text-sm text-center">14-02-2025</td>
        <td class="px-4 py-2 text-sm text-center">4.0</td>
        <td class="px-4 py-2 text-sm text-center"></td>
      </tr>
      <tr class="bg-gray-100">
        <td class="px-4 py-2 text-sm"></td>
        <td class="px-4 py-2 text-sm"></td>
        <td class="px-4 py-2 text-sm text-center">4.0</td>
      </tr>
      <tr class="bg-gray-200">
        <td class="px-4 py-2 text-sm" colspan="3">Maart</td>
      </tr>
      <tr class="bg-gray-100">
        <td class="px-4 py-2 text-sm text-center"></td>
        <td class="px-4 py-2 text-sm text-center"></td>
        <td class="px-4 py-2 text-sm text-center">0.0</td>
      </tr>
      <tr class="bg-gray-200">
        <td class="px-4 py-2 text-sm" colspan="3">April</td>
      </tr>
      <tr class="bg-gray-100">
        <td class="px-4 py-2 text-sm text-center"></td>
        <td class="px-4 py-2 text-sm text-center"></td>
        <td class="px-4 py-2 text-sm text-center">0.0</td>
      </tr>
      <tr class="bg-gray-200">
        <td class="px-4 py-2 text-sm" colspan="3">Mei</td>
      </tr>
      <tr class="bg-gray-100">
        <td class="px-4 py-2 text-sm text-center"></td>
        <td class="px-4 py-2 text-sm text-center"></td>
        <td class="px-4 py-2 text-sm text-center">0.0</td>
      </tr>
      <tr class="bg-gray-200">
        <td class="px-4 py-2 text-sm" colspan="3">Juni</td>
      </tr>
      <tr class="bg-gray-100">
        <td class="px-4 py-2 text-sm text-center"></td>
        <td class="px-4 py-2 text-sm text-center"></td>
        <td class="px-4 py-2 text-sm text-center">0.0</td>
      </tr>
      <tr class="bg-gray-200">
        <td class="px-4 py-2 text-sm" colspan="3">Juli</td>
      </tr>
      <tr class="bg-gray-100">
        <td class="px-4 py-2 text-sm text-center"></td>
        <td class="px-4 py-2 text-sm text-center"></td>
        <td class="px-4 py-2 text-sm text-center">0.0</td>
      </tr>
      <tr class="bg-gray-200">
        <td class="px-4 py-2 text-sm" colspan="3">Augustus</td>
      </tr>
      <tr class="bg-gray-100">
        <td class="px-4 py-2 text-sm text-center"></td>
        <td class="px-4 py-2 text-sm text-center"></td>
        <td class="px-4 py-2 text-sm text-center">0.0</td>
      </tr>
      <tr class="bg-gray-200">
        <td class="px-4 py-2 text-sm" colspan="3">September</td>
      </tr>
      <tr class="bg-gray-100">
        <td class="px-4 py-2 text-sm text-center"></td>
        <td class="px-4 py-2 text-sm text-center"></td>
        <td class="px-4 py-2 text-sm text-center">0.0</td>
      </tr>
      <tr class="bg-gray-200">
        <td class="px-4 py-2 text-sm" colspan="3">Oktober</td>
      </tr>
      <tr class="bg-gray-100">
        <td class="px-4 py-2 text-sm text-center"></td>
        <td class="px-4 py-2 text-sm text-center"></td>
        <td class="px-4 py-2 text-sm text-center">0.0</td>
      </tr>
      <tr class="bg-gray-200">
        <td class="px-4 py-2 text-sm" colspan="3">November</td>
      </tr>
      <tr class="bg-gray-100">
        <td class="px-4 py-2 text-sm text-center"></td>
        <td class="px-4 py-2 text-sm text-center"></td>
        <td class="px-4 py-2 text-sm text-center">0.0</td>
      </tr>
      <tr class="bg-gray-200">
        <td class="px-4 py-2 text-sm" colspan="3">December</td>
      </tr>
      <tr class="bg-gray-100">
        <td class="px-4 py-2 text-sm text-center"></td>
        <td class="px-4 py-2 text-sm text-center"></td>
        <td class="px-4 py-2 text-sm text-center">0.0</td>
      </tr>
    </tbody>
    <thead>
      <tr class="bg-gray-800 text-white text-sm">
        <th class="px-4 py-2 text-center"></th>
        <th class="px-4 py-2 text-center"></th>
        <th class="px-4 py-2 text-center">20.0</th>
      </tr>
    </thead>
  </table>
</div>