<%= render "data_overviews/header", current_overview: "bonus_overview" %>

<main>
  <div class="mx-auto max-w-8xl py-6">

    <div class="overflow-x-auto">
      <table class="min-w-full divide-y divide-gray-200">
        <thead>
          <tr class="bg-gray-800 text-white text-sm">
            <th class="px-4 py-2 text-left">MAAND</th>
            <th class="px-4 py-2 text-left">KLANT</th>
            <th class="px-4 py-2 text-left">PROJECT</th>
            <th class="px-4 py-2 text-left">UURSOORT</th>
            <th class="px-4 py-2 text-right">UREN</th>
            <th class="px-4 py-2 text-right">BONUS FACTOR</th>
            <th class="px-4 py-2 text-right">BONUS UREN</th>
            <th class="px-4 py-2 text-right">BONUS BEDRAG</th>
            <th class="px-4 py-2 text-right">TOTAAL</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200 text-sm">
          <tr class="bg-gray-50">
            <td class="px-4 py-2">januari</td>
            <td class="px-4 py-2">Dicoon</td>
            <td class="px-4 py-2">Migratietraject Dicoon</td>
            <td class="px-4 py-2 text-center">100%</td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2 text-right">1.0</td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">€ 300,00</td>
          </tr>
          <tr class="bg-gray-100">
            <td class="px-4 py-2">januari</td>
            <td class="px-4 py-2">Uren meetellend voor bonus</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">€ 300,00</td>
          </tr>
          <tr class="bg-gray-50">
            <td class="px-4 py-2">februari</td>
            <td class="px-4 py-2">Dicoon</td>
            <td class="px-4 py-2">Migratietraject Dicoon</td>
            <td class="px-4 py-2 text-center">100%</td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2 text-right">1.0</td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">€ 300,00</td>
          </tr>
          <tr class="bg-gray-100">
            <td class="px-4 py-2">februari</td>
            <td class="px-4 py-2">Uren meetellend voor bonus</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">€ 300,00</td>
          </tr>
          <tr class="bg-gray-50">
            <td class="px-4 py-2">maart</td>
            <td class="px-4 py-2">Dicoon</td>
            <td class="px-4 py-2">Migratietraject Dicoon</td>
            <td class="px-4 py-2 text-center">100%</td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2 text-right">1.0</td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">€ 300,00</td>
          </tr>
          <tr class="bg-gray-100">
            <td class="px-4 py-2">maart</td>
            <td class="px-4 py-2">Uren meetellend voor bonus</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">€ 300,00</td>
          </tr>
          <tr class="bg-gray-50">
            <td class="px-4 py-2">april</td>
            <td class="px-4 py-2">Dicoon</td>
            <td class="px-4 py-2">Migratietraject Dicoon</td>
            <td class="px-4 py-2 text-center">100%</td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2 text-right">1.0</td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">€ 300,00</td>
          </tr>
          <tr class="bg-gray-100">
            <td class="px-4 py-2">april</td>
            <td class="px-4 py-2">Uren meetellend voor bonus</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">€ 300,00</td>
          </tr>
          <tr class="bg-gray-50">
            <td class="px-4 py-2">mei</td>
            <td class="px-4 py-2">Dicoon</td>
            <td class="px-4 py-2">Migratietraject Dicoon</td>
            <td class="px-4 py-2 text-center">100%</td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2 text-right">1.0</td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">€ 300,00</td>
          </tr>
          <tr class="bg-gray-100">
            <td class="px-4 py-2">mei</td>
            <td class="px-4 py-2">Uren meetellend voor bonus</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">€ 300,00</td>
          </tr>
          <tr class="bg-gray-50">
            <td class="px-4 py-2">juni</td>
            <td class="px-4 py-2">Dicoon</td>
            <td class="px-4 py-2">Migratietraject Dicoon</td>
            <td class="px-4 py-2 text-center">100%</td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2 text-right">1.0</td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">€ 300,00</td>
          </tr>
          <tr class="bg-gray-100">
            <td class="px-4 py-2">juni</td>
            <td class="px-4 py-2">Uren meetellend voor bonus</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">€ 300,00</td>
          </tr>
          <tr class="bg-gray-50">
            <td class="px-4 py-2">juli</td>
            <td class="px-4 py-2">Dicoon</td>
            <td class="px-4 py-2">Migratietraject Dicoon</td>
            <td class="px-4 py-2 text-center">100%</td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2 text-right">1.0</td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">€ 300,00</td>
          </tr>
          <tr class="bg-gray-100">
            <td class="px-4 py-2">juli</td>
            <td class="px-4 py-2">Uren meetellend voor bonus</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">€ 300,00</td>
          </tr>
          <tr class="bg-gray-50">
            <td class="px-4 py-2">augustus</td>
            <td class="px-4 py-2">Dicoon</td>
            <td class="px-4 py-2">Migratietraject Dicoon</td>
            <td class="px-4 py-2 text-center">100%</td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2 text-right">1.0</td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">€ 300,00</td>
          </tr>
          <tr class="bg-gray-100">
            <td class="px-4 py-2">augustus</td>
            <td class="px-4 py-2">Uren meetellend voor bonus</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">€ 300,00</td>
          </tr>
          <tr class="bg-gray-50">
            <td class="px-4 py-2">september</td>
            <td class="px-4 py-2">Dicoon</td>
            <td class="px-4 py-2">Migratietraject Dicoon</td>
            <td class="px-4 py-2 text-center">100%</td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2 text-right">1.0</td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">€ 300,00</td>
          </tr>
          <tr class="bg-gray-100">
            <td class="px-4 py-2">september</td>
            <td class="px-4 py-2">Uren meetellend voor bonus</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">€ 300,00</td>
          </tr>
          <tr class="bg-gray-50">
            <td class="px-4 py-2">oktober</td>
            <td class="px-4 py-2">Dicoon</td>
            <td class="px-4 py-2">Migratietraject Dicoon</td>
            <td class="px-4 py-2 text-center">100%</td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2 text-right">1.0</td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">€ 300,00</td>
          </tr>
          <tr class="bg-gray-100">
            <td class="px-4 py-2">oktober</td>
            <td class="px-4 py-2">Uren meetellend voor bonus</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">€ 300,00</td>
          </tr>
          <tr class="bg-gray-50">
            <td class="px-4 py-2">november</td>
            <td class="px-4 py-2">Dicoon</td>
            <td class="px-4 py-2">Migratietraject Dicoon</td>
            <td class="px-4 py-2 text-center">100%</td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2 text-right">1.0</td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">€ 300,00</td>
          </tr>
          <tr class="bg-gray-100">
            <td class="px-4 py-2">november</td>
            <td class="px-4 py-2">Uren meetellend voor bonus</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">€ 300,00</td>
          </tr>
          <tr class="bg-gray-50">
            <td class="px-4 py-2">december</td>
            <td class="px-4 py-2">Dicoon</td>
            <td class="px-4 py-2">Migratietraject Dicoon</td>
            <td class="px-4 py-2 text-center">100%</td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2 text-right">1.0</td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">€ 300,00</td>
          </tr>
          <tr class="bg-gray-100">
            <td class="px-4 py-2">december</td>
            <td class="px-4 py-2">Uren meetellend voor bonus</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">140.0</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">€ 300,00</td>
          </tr>
          <tr class="bg-gray-200 font-medium text-sm">
            <td colspan="6" class="px-4 py-2">Totaal uren meetellend voor bonus</td>
            <td class="px-4 py-2 text-right">1767</td>
            <td></td>
            <td class="px-4 py-2 text-right">€ 3.600,00</td>
          </tr>
          <tr class="bg-gray-100">
            <td colspan="9" class="px-4 py-2">Periode: 01-01-2024 t/m 31-12-2024 = 366 dagen - Contract uren in periode: 40/40 - Uren meetellend voor bonus in periode: 1767.0</td>
          </tr>
          <tr class="bg-gray-50">
            <td colspan="2" class="px-4 py-2">Bonusuren > 1840 (à € 30,00 euro)</td>
            <td colspan="4" class="px-4 py-2">Bonusgrens: 366/366 * 40/40 * 1840 = 1840 uren</td>
            <td class="px-4 py-2 text-right">-</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">-</td>
          </tr>
          <tr class="bg-gray-100">
            <td colspan="2" class="px-4 py-2">Bonusuren > 1600 (à € 15,00 euro)</td>
            <td colspan="4" class="px-4 py-2">Bonusgrens: 366/366 * 40/40 * 1600 = 1600 uren</td>
            <td class="px-4 py-2 text-right">167</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">€ 2.505,00</td>
          </tr>
          <tr class="bg-gray-200 font-medium text-sm">
            <td colspan="2" class="px-4 py-2">Totaal</td>
            <td colspan="4" class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">167</td>
            <td class="px-4 py-2"></td>
            <td class="px-4 py-2 text-right">€ 6.105,00</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</main>