<%= render "shared/page_header", 
  breadcrumbs: @breadcrumbs, 
  title: I18n.t('.data_overview.titles.holiday_overview'), 
  icon: ["holiday", "medium", "gray"],
  buttons: nil
%>

<main>
  <div class="mx-auto max-w-8xl py-6 flex flex-col">

    <%= render "data_overviews/holiday", dim_user: nil %>
  </div>
</main>

