<%= render "layouts/page_header", 
  breadcrumbs: @breadcrumbs, 
  title: nil, 
  icon: nil,
  buttons: nil
%>

<%= render "users/header", view: @view %>

<main>
  <div class="mx-auto max-w-8xl">

    <%= render "users/users", users: @users if @view == "users" %>
    <%= render "roles/roles", roles: @roles if @view == "roles" %>

  </div>
</main>