<%= render "shared/page_header", 
  breadcrumbs: @breadcrumbs, 
  title: I18n.t('.data_reports.reports.parental_leave'), 
  icon: ["table", "medium", "gray"],
  buttons: nil
%>

<main>
  <div class="mx-auto max-w-8xl py-6 mt-10">

   
  </div>
</main>