<div class="col-span-4 flex justify-center items-center mt-40">
  <div class="bg-white rounded-lg shadow-sm p-8 text-center w-3/5">
    <div class="text-gray-400 mb-3">
      <svg class="h-12 mx-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4"></path>
      </svg>
    </div>
    <h3 class="text-lg font-medium text-gray-900 mb-1">
      <%= I18n.t('.general.no_records') %>
    </h3>
  </div>
</div>
