<div class="flex flex-row justify-start border-b-4 border-gray-400 my-5 py-2">
  <%= render(View::IconComponent.new(icon_type: icon, size: "medium", color: "gray")) %>
  <h3 class="text-2xl font-medium leading-6 text-black ml-3 pt-1"><%= title %></h3>
</div>
