<div id="<%= role %>-quarters" class="w-1/2 flex flex-row justify-start mt-10 mb-5">
  <% (1..4).each do |quarter| %>
    <% if quarter == current_quarter %>
      <div class="px-4 py-3 mr-5 text-base bg-sky-100 rounded border-2 border-sky-700 text-sky-700">Q<%= current_quarter %></div>
    <% else %>
      <%= link_to quarter_targets_data_targets_path(company, year: year, quarter: quarter, role: role), data: { turbo_stream: true } do %>
        <div class="text-gray-700 bg-gray-100 hover:bg-gray-50 px-4 py-3 mr-5 text-base border border-gray-300 shadow-sm font-medium rounded"><%= I18n.t(".data_target.quarters.q#{quarter}") %></div>
      <% end %>
    <% end %>
  <% end %>
</div>