<%= render "layouts/page_header", 
  breadcrumbs: @breadcrumbs, 
  title: I18n.t('.data_target.titles.index'), 
  icon: ["target", "medium", "gray"],
  buttons: nil
%>

<main>
  <div class="mx-auto max-w-8xl py-6 mt-10">

    <%= render "filter", account_companies: @account_companies %>

    <% if @data_targets.blank? %>
      <div class="mt-48 flex justify-center">
        <div class="w-1/2 p-5 rounded-lg bg-gray-50 border border-gray-200 shadow-sm text-center">
          <div class="text-gray-600 text-lg"><%= I18n.t('.data_target.messages.select_company') %></div>
        </div>
      </div>
    <% else %>
      <%= @data_targets.count %>
    <% end %>

  </div>
</main>
