<% report_data[:rows].each do |row| %>
  <tr class="whitespace-nowrap hover:bg-gray-50">
    <% report_data[:columns].each do |column| %>
        <% align = column[:id] == 'hours_ovb' ? 'text-right' : 'text-left' %>
      <td class="p-1 text-xs text-gray-900 border border-gray-400 bg-white max-w-64 overflow-hidden text-ellipsis <%= align %>">
        <%= row[column[:id]] %>
      </td>
    <% end %>
  </tr>
<% end %>

<% if report_data[:rows].any? %>
  <tr class="whitespace-nowrap bg-gray-100 font-semibold">
    <% report_data[:columns].each_with_index do |column, index| %>
      <% align = column[:id] == 'hours_ovb' ? 'text-right' : 'text-left' %>
      <td class="p-1 text-xs text-gray-900 border border-gray-400 <%= align %>">
        <% if column[:id] == 'hours_ovb' %>
          <% total = report_data[:rows].sum { |row| row[column[:id]].to_f } %>
          <%= total.round(1) %>
        <% elsif index == 0 %>
          Totaal
        <% end %>
      </td>
    <% end %>
  </tr>
<% end %> 