<%= render "shared/page_header", 
  breadcrumbs: @breadcrumbs, 
  title: I18n.t('.datalab.report.titles.edit'), 
  icon: ["datalab", "medium", "gray"],
  buttons: nil
%>

<main>
  <div class="mx-auto max-w-8xl py-6 mt-2">

    <div id="new_report_form">
      <%= render "form", report: @report, available_anchors: @available_anchors, available_report_types: @available_report_types %>
    </div>

  </div>
</main>