<div class="flex flex-col">
  <div class="flex flex-row justify-between items-center mb-6">
    <h1 class="text-2xl font-semibold text-gray-900">Data Lab Reports</h1>
    <%= link_to 'New Report', new_datalab_report_path, 
        class: "rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white hover:bg-blue-500" %>
  </div>

  <div class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-lg">
    <% if @reports.any? %>
      <ul role="list" class="divide-y divide-gray-100">
        <% @reports.each do |report| %>
          <li class="flex items-center justify-between gap-x-6 px-5 py-5">
            <div class="min-w-0">
              <div class="flex items-start gap-x-3">
                <p class="text-sm font-semibold leading-6 text-gray-900"><%= report.name %></p>
              </div>
              <div class="mt-1 flex items-center gap-x-2 text-xs leading-5 text-gray-500">
                <p><%= report.description %></p>
              </div>
            </div>
            <div class="flex flex-none items-center gap-x-4">
              <%= link_to 'Edit', edit_datalab_report_path(report), 
                  class: "rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" %>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <div class="text-center py-6">
        <p class="text-sm text-gray-500">No reports created yet.</p>
      </div>
    <% end %>
  </div>
</div>
