<div class="flex flex-col">
  <div class="mb-6">
    <h1 class="text-2xl font-semibold text-gray-900">New Data Lab Report</h1>
  </div>

  <div id="new_report_form">
    <%= render "form", report: @report, available_anchors: @available_anchors %>
  </div>
</div>
