<% if @value.blank? %>
  <div class="<%= @align %> flex items-center px-2 h-9 whitespace-nowrap text-xs text-gray-900"></div>
<% else %>
  <div class="<%= @align %> flex items-center px-2 h-9 whitespace-nowrap text-xs text-gray-900">
    <%= @value %>
  </div>
<% end %>