<%= render "layouts/page_header", 
  breadcrumbs: @breadcrumbs, 
  title: I18n.t(".role.titles.new"), 
  icon: ["lock", "medium", "gray"],
  buttons: nil
%>

<div class="mx-auto w-1/2 mt-10">
  <%= render "form", role: @role %>
</div>