<%= render "layouts/page_header", 
  breadcrumbs: @breadcrumbs, 
  title: I18n.t('.site.titles.dashboard'), 
  icon: ["home", "medium", "gray"],
  buttons: nil
%>

<main>
  <div class="mx-auto max-w-8xl py-6 mt-2">

    <div class="grid grid-cols-2 gap-4">
      <%= render "dg/data_quality/data_quality_logs", dg_quality_logs: @dg_quality_logs %>
      <%= render "datalab/reports/report_list_dashboard", datalab_reports: @datalab_reports %>
    </div>

  </div>
</main>