<% if @value.blank? %>
  <td class="<%= @align %> px-2 py-1 h-9 whitespace-nowrap text-xs text-gray-700 truncate"></td>
<% else %>
  <td class="<%= @align %> px-2 py-1 h-9 whitespace-nowrap text-xs text-gray-700 truncate">
    <%= @value %>
  </td>
<% end %>