<div class="w-full p-10 flex flex-row justify-end">
  <div class="w-1/2">
    <%= image_tag "logo.svg", alt: "Logo" %>
  </div>
  <div class="w-1/2 flex flex-row justify-end pt-2">
    <% if current_user %>
      <div class="pr-5 text-gray-800"><%= I18n.t(".general.welcome") %> <%= current_user.full_name %></div>
      <%= button_to I18n.t(".devise.sessions.signout"), destroy_user_session_path, method: :delete, class: "text-gray-800 text base hover:underline pr-5" %>
    <% end %>
  </div>
</div>
